In [1]:
MIN_LONGITUDE = -125
MAX_LONGITUDE = -120
MIN_LATITUDE = 36
MAX_LATITUDE = 40

In [2]:
!ls

Filter SF crime data to last 90 days.ipynb
Untitled.ipynb
crime_oakland_90d_reprojected.gpkg
crime_oakland_90d_reprojected.gpkg-shm
crime_oakland_90d_reprojected.gpkg-wal
crime_oakland_last_90.csv
crime_oakland_last_90_raw.csv
crime_sf_last_1.csv
crime_sf_last_90.csv
geocoder.ipynb
qgis_layers

In [4]:
import pandas
data = pandas.read_csv("crime_oakland_last_90.csv")

In [5]:
data.head()

,Unnamed: 0,CRIMETYPE,DATETIME,CASENUMBER,DESCRIPTION,POLICEBEAT,ADDRESS,CITY,STATE,Location,lat,lng
0,0,ROBBERY,04/23/2020 01:27:00 AM,20-020530,ROBBERY-FIREARM,31Y,900 82ND AV,Oakland,CA,"900 82ND AV\nOakland, CA",37.752278,-122.185137
1,1,DOMESTIC VIOLENCE,04/03/2020 05:51:00 PM,20-017584,BATTERY:SPOUSE/EX SPOUSE/DATE/ETC,35X,9200 MACARTHUR BLVD,Oakland,CA,"9200 MACARTHUR BLVD\nOakland, CA\n(37.754275, ...",37.754529,-122.160675
2,2,NaN,04/25/2020 10:30:00 PM,20-021213,EXHIBIT FIREARM,29X,5500 15TH ST,Oakland,CA,"5500 15TH ST\nOakland, CA",37.768235,-122.202083
3,3,OTHER,09/01/2019 12:00:00 AM,20-009365,STALKING-MISD,01X,00 EMBARCADERO WEST,Oakland,CA,"00 EMBARCADERO WEST\nOakland, CA",37.794812,-122.274958
4,4,NaN,05/03/2020 01:40:00 AM,20-022472,THEFT,21X,2300 FOOTHILL BLVD,Oakland,CA,"2300 FOOTHILL BLVD\nOakland, CA\n(37.785082, -...",37.785240,-122.233769

In [21]:
bad_data = (data["lat"] > MAX_LATITUDE) | (data["lat"] < MIN_LATITUDE) | (data["lng"] > MAX_LONGITUDE) | (data["lng"] < MIN_LONGITUDE)

In [22]:
filtered = data[~bad_data]

In [23]:
filtered.describe()

         Unnamed: 0           lat           lng
count  15836.000000  15836.000000  15836.000000
mean    7959.205165     37.790365   -122.227297
std     4591.798714      0.029382      0.042591
min        0.000000     37.514470   -122.425079
25%     3984.750000     37.768419   -122.263476
50%     7962.500000     37.793559   -122.230647
75%    11934.250000     37.810942   -122.194559
max    15911.000000     37.988856   -121.330024

In [24]:
filtered.to_csv("crime_oakland_last_90_filtered.csv")

In [25]:
!ls

Filter SF crime data to last 90 days.ipynb
crime_oakland_90d_reprojected.gpkg
crime_oakland_90d_reprojected.gpkg-shm
crime_oakland_90d_reprojected.gpkg-wal
crime_oakland_last_90.csv
crime_oakland_last_90_filtered.csv
crime_oakland_last_90_raw.csv
crime_sf_last_1.csv
crime_sf_last_90.csv
filter_to_lat_lng_box.ipynb
geocoder.ipynb
qgis_layers